@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: #fff;
}

.mat-card-image:first-child {
  margin-top: 0!important;
}